<%-include('adminheader')%>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <!-- Add this HTML code where you want the search bar to appear -->
<!-- <form action="/admin/user" method="GET">
    <input type="text" name="searchTerm" placeholder="Search users" >
    <button type="submit">search</button>
</form> -->

                <!-- <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form> -->
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="adminassets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="adminassets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="adminassets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="adminassets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="mt-3 text-center">Coupon List</h2>
                    </div>
                    <div>
                
                        <a href="/admin/addcoupen" class="btn btn-primary btn-sm rounded">Add coupon</a>
                    </div>
                </div>
                <div class="card mb-4">
                    <!-- card-header end// -->
                    <div id="alertContainer" class="position-fixed top-15 end-10" style="z-index: 5"></div>
                    <div class="message-box" id="messageBox"></div>
            
                    <div class="row m-3">
                        <table class="table table-bordered table-definition mb-5">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Coupon Name</th>
                                    <th>Description</th>
                                    <th>Discount in %</th>
                                    <!-- <th>Max Discount Amount</th> -->
                                    <th>Min Purchase Amount</th>
                                    <th>Max Amount</th>
                                    <th>Status</th>
                                 
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (coupons && coupons.length > 0) { %>
                                    <% coupons.forEach((item, i) => { %>
                                        <tr>
                                            <td class="text-center mt-2"><%= i+1 %></td>
                                            <td class="text-center mt-2"><%= item.code %></td>
                                            <td class="text-center mt-2"><%= item.description %></td>
                                            <td class="text-center mt-2"><%= item.discountPercentage %> %</td>
                                            <!-- <td class="text-center mt-2"><%= item.maxDiscountAmount %></td> -->
                                            <td class="text-center mt-2"><%= item.minimumAmount %></td>
                                            <td class="text-center mt-2"><%= item.maximumAmount %></td>
                                            <td class="text-center"><span class="<%= item.isActive ? 'actives' : 'inactive' %> mt-3">
                                                    <%= item.isActive ? 'Active' : 'Inactive' %>
                                                </span></td>
                                           
                                            <td class="text-center mt-2">
                                                <a>
                                                    <button onclick="confirmToggle('<%= item._id %>', <%= item.isActive %>)" class="<%= item.isActive ?  'btn btn-success':'btn btn-danger' %>" style="width:90px;">
                                                        <%= item.isActive ? 'Active' : 'inactive' %>
                                                    </button>
                                                </a>
                                                
                                                <a href="/admin/editcoupon?id=<%= item._id %>" class="btn btn-sm font-sm rounded btn-brand">
                                                    <i class="material-icons md-edit"></i> Edit
                                                </a>
                                            </td>
                                        </tr>
                                    <% }); %>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="pagination-area mt-15 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% if (currentPage > 1) { %>
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                        <% } %>
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                <a class="page-link" href="/admin/couponpage?page=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                        <% if (currentPage < totalPages) { %>
                            <li class="page-item"><a class="page-link" href="?page=<%= totalPages %>">&raquo;</a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>
            </section>
           <!-- card end// -->
<!--  -->


    // <!-- <script>
    //     async function blockuser(id){
    //         let response = await fetch('/admin/blockuser',{
    //             method:'post',
    //             headers:{
    //                 'content-type':'application/json' },
    //             body: JSON.stringify({id })
    //         })
    //         if(response.status === 200){
    //             document.getElementById('blockedbutton_'+ id).className = 'btn btn-danger'
    //             document.getElementById('blockbutton_'+id).innerHTML = 'block'
    //         }else if (response.status === 201) {
    //            document.getElementById('blockbutton_' + id).className = 'btn btn-success'
    //            document.getElementById('blockbutton_' + id).innerHTML = 'Unblock'
    //         } else if (response.status === 402) {
    //            window.location.reload()
    //         }
    //     }
    // </script> -->
    <script src="adminassets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="adminassets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="adminassets/js/vendors/select2.min.js"></script>
    <script src="adminassets/js/vendors/perfect-scrollbar.js"></script>
    <script src="adminassets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="adminassets/js/main.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmToggle(id, isActive) {
            var action = isActive ? 'Activate' : 'Deactivate';
            Swal.fire({
                title: "Confirmation",
                text: "Are you sure you want to " + action + " this coupon?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, " + action
            }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/admin/inactivecoupon?id=" +id;
            }
        })
         }
    </script>
    
</body>

</html>