<%-include('header')%>
    <!-- End Offcanvas Search Bar Section -->

    <!-- Offcanvas Overlay -->
    <div class="offcanvas-overlay"></div>

    <!-- ...:::: Start Breadcrumb Section:::... -->
    <div class="breadcrumb-section breadcrumb-bg-color--golden">
        <div class="breadcrumb-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="breadcrumb-title">Checkout</h3>
                        <div class="breadcrumb-nav breadcrumb-nav-color--black breadcrumb-nav-hover-color--golden">
                            <nav aria-label="breadcrumb">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="shop-grid-sidebar-left.html">Shop</a></li>
                                    <li class="active" aria-current="page">Checkout</li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- ...:::: End Breadcrumb Section:::... -->

    <!-- ...:::: Start Checkout Section:::... -->

    
            <!-- Start User Details Checkout Form -->
            <div class="checkout_form" data-aos="fade-up" data-aos-delay="400">
                <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <form action="/order" method="post">
                            <h3>Billing Details</h3>
                            <div class="row">
                                <% if(address && address.length > 0) { %>
                                    <% address.forEach((item, index) => { %>
                                      
                                        <div class="d-flex" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;  align-items: center;">
                                           <div style="margin-right: 20px; margin-bottom: -25px; margin-left: 20px; align-items: center;">
                                          
                                            <input type="radio" name="deliveryAddress" value="<%= JSON.stringify(item.addresses[0]) %>" required>
                                            <label >
                                           </div>
                                                <div>
                                                    <h5 style="margin-bottom: 5px;">ADDRESS NO. <%= index + 1 %> </h5>
                                                    <h6 style="margin-bottom: 5px;">
                                                        <%= item.addresses[0].HouseNo %>,
                                                        <%= item.addresses[0].Street %>,
                                                        <%= item.addresses[0].Landmark %>,
                                                        <%= item.addresses[0].pincode %>,
                                                        <%= item.addresses[0].city %>,
                                                        <%= item.addresses[0].district %>,
                                                        <%= item.addresses[0].State %>,
                                                        <%= item.addresses[0].Country %>
                                                    </h6>
                                                    <h6>Address Type: <%= item.addresses[0].addressType %></h6>
                                                    <a href="/editaddresscheckout?id=<%=item._id %>"
                                                        class="btn btn-black-default-hover btn-sm rounded" >Edit Address</a>
                                                        <a href=""
                                                        class="btn btn-black-default-hover btn-sm rounded" onclick="removeaddress('<%=item._id %>')">Remove Address</a>
                                                </div>
                                            </label>
                                        </div>
                                    <% }) %>
                                <% } else { %>
                                    <p>No addresses found.</p>
                                <% } %>
                             
                                    <a href="/addaddress"
                                    class="btn btn-black-default-hover btn-sm rounded" ">add address</a>
                            </div>
                            
                           
                        </div>
                        <div class="col-lg-6 col-md-6"> 
                            <h3>Your order</h3>
                            <% if(cart.items.length > 0) { %>
                               
                           
                                <div class="order_table table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% cart.items.forEach(item => { %>
                                                <tr>
                                                    <td><%= item.name %></td>
                                                    <td>$<%= item.price %></td>
                                                </tr>
                                            <% }); %>
                                        </tbody>
                                        <tfoot>
                                            <tr> 
                                                <% if (cart.couponapplied === true) { %>
                                                    <th>Cart Subtotal</th>
                                                    <td>$<%= cart.discountPrice %></td> 
                                                    <th>Order Total</th>
                                                    <td><strong>$<%= cart.discountPrice %></strong></td>
                                                <% } else { %>
                                                    <th>Cart Subtotal</th>
                                                    <td>$<%= cart.billTotal %></td> 
                                                    <th>Order Total</th>
                                                    <td><strong>$<%= cart.billTotal %></strong></td>
                                                <% } %>
                                            </tr>
                                            <tr>
                                                <th>Shipping</th>
                                                <td><strong>Free shipping</strong></td>
                                            </tr>
                                            <tr class="order_total">
                                                <% if (cart.couponapplied === true) { %>
                                                    <th>Order Total</th>
                                                    <td><strong>$<%= cart.discountPrice %></strong></td>
                                                <% } else { %>
                                                    <th>Order Total</th>
                                                    <td><strong>$<%= cart.billTotal %></strong></td>
                                                <% } %>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                
                                <div class="payment_method">
                                    <p>payment method</p>
                                    <% if (cart.billTotal >= 1000) { %>
                                        <p>cash on delivery is not allowed</p>
                                        <div class="panel-default">
                                            <label class="checkbox-default" for="currencyPaypal">
                                                <input type="radio" name="paymentMethod" value="online" id="currencyPaypal">
                                                <span>online</span>
                                            </label>
                                        </div>
                                    <% } else { %>
                                        <div class="panel-default">
                                            <label class="checkbox-default" for="currencyCod">
                                                <input type="radio" name="paymentMethod" value="COD" id="currencyCod">
                                                <span>COD</span>
                                            </label>
                                        </div>
                                        <div class="panel-default">
                                            <label class="checkbox-default" for="currencyPaypal">
                                                <input type="radio" name="paymentMethod" value="online" id="currencyPaypal">
                                                <span>online</span>
                                            </label>
                                        </div>
                                    <% } %>
                                </div>
                                
                              
                               
                            <div class="order_button pt-3">
                                <button class="btn btn-md btn-black-default-hover" type="button" onclick="proceedToPayment()">Proceed to PayPal</button>
                            </div>

                            <% } else { %>
                                <p>Your cart is empty.</p>
                            <% } %>
                        </div>
                    </form>
                </div>
            </div>
        </div>
             <!-- Start User Details Checkout Form -->
       <!-- ...:::: End Checkout Section:::... -->

    <!-- Start Footer Section -->
    <footer class="footer-section footer-bg section-top-gap-100">
        <div class="footer-wrapper">
            <!-- Start Footer Top -->
            <div class="footer-top">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-lg-3 col-sm-6 mb-6">
                            <!-- Start Footer Single Item -->
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="0">
                                <h5 class="title">INFORMATION</h5>
                                <ul class="footer-nav">
                                    <li><a href="#">Delivery Information</a></li>
                                    <li><a href="#">Terms & Conditions</a></li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                    <li><a href="#">Returns</a></li>
                                </ul>
                            </div>
                            <!-- End Footer Single Item -->
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                            <!-- Start Footer Single Item -->
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="200">
                                <h5 class="title">MY ACCOUNT</h5>
                                <ul class="footer-nav">
                                    <li><a href="my-account.html">My account</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="faq.html">Frequently Questions</a></li>
                                    <li><a href="#">Order History</a></li>
                                </ul>
                            </div>
                            <!-- End Footer Single Item -->
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                            <!-- Start Footer Single Item -->
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="400">
                                <h5 class="title">CATEGORIES</h5>
                                <ul class="footer-nav">
                                    <li><a href="#">Decorative</a></li>
                                    <li><a href="#">Kitchen utensils</a></li>
                                    <li><a href="#">Chair & Bar stools</a></li>
                                    <li><a href="#">Sofas and Armchairs</a></li>
                                    <li><a href="#">Interior lighting</a></li>
                                </ul>
                            </div>
                            <!-- End Footer Single Item -->
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-6">
                            <!-- Start Footer Single Item -->
                            <div class="footer-widget-single-item footer-widget-color--golden" data-aos="fade-up"
                                data-aos-delay="600">
                                <h5 class="title">ABOUT US</h5>
                                <div class="footer-about">
                                    <p>We are a team of designers and developers that create high quality Magento,
                                        Prestashop, Opencart.</p>

                                    <address class="address">
                                        <span>Address: Your address goes here.</span>
                                        <span>Email: demo@example.com</span>
                                    </address>
                                </div>
                            </div>
                            <!-- End Footer Single Item -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Footer Top -->

            <!-- Start Footer Center -->
            <div class="footer-center">
                <div class="container">
                    <div class="row mb-n6">
                        <div class="col-xl-3 col-lg-4 col-md-6 mb-6">
                            <div class="footer-social" data-aos="fade-up" data-aos-delay="0">
                                <h4 class="title">FOLLOW US</h4>
                                <ul class="footer-social-link">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 col-md-6 mb-6">
                            <div class="footer-newsletter" data-aos="fade-up" data-aos-delay="200">
                                <h4 class="title">DON'T MISS OUT ON THE LATEST</h4>
                                <div class="form-newsletter">
                                    <form action="#" method="post">
                                        <div class="form-fild-newsletter-single-item input-color--golden">
                                            <input type="email" placeholder="Your email address..." required>
                                            <button type="submit">SUBSCRIBE!</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Footer Center -->

            <!-- Start Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <div
                        class="row justify-content-between align-items-center align-items-center flex-column flex-md-row mb-n6">
                        <div class="col-auto mb-6">
                            <div class="footer-copyright">
                                <p class="copyright-text">&copy; 2021 <a href="index.html">therankme</a>. Made with <i
                                        class="fa fa-heart text-danger"></i> by <a href="https://therankme.com/"
                                        target="_blank">therankme</a> </p>

                            </div>
                        </div>
                        <div class="col-auto mb-6">
                            <div class="footer-payment">
                                <div class="image">
                                    <img src="assets/images/company-logo/payment.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Footer Bottom -->
        </div>
    </footer>
    <!-- End Footer Section -->

    <!-- material-scrolltop button -->
    <button class="material-scrolltop" type="button"></button>

    <!-- Start Modal Add cart -->
    <div class="modal fade" id="modalAddcart" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-right">
                                <button type="button" class="close modal-close" data-bs-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true"> <i class="fa fa-times"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="modal-add-cart-product-img">
                                            <img class="img-fluid"
                                                src="assets/images/product/default/home-1/default-1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="modal-add-cart-info"><i class="fa fa-check-square"></i>Added to cart
                                            successfully!</div>
                                        <div class="modal-add-cart-product-cart-buttons">
                                            <a href="cart.html">View Cart</a>
                                            <a href="checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5 modal-border">
                                <ul class="modal-add-cart-product-shipping-info">
                                    <li> <strong><i class="icon-shopping-cart"></i> There Are 5 Items In Your
                                            Cart.</strong></li>
                                    <li> <strong>TOTAL PRICE: </strong> <span>$187.00</span></li>
                                    <li class="modal-continue-button"><a href="#" data-bs-dismiss="modal">CONTINUE
                                            SHOPPING</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Modal Add cart -->

    <!-- Start Modal Quickview cart -->
    <div class="modal fade" id="modalQuickview" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col text-right">
                                <button type="button" class="close modal-close" data-bs-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true"> <i class="fa fa-times"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-details-gallery-area mb-7">
                                    <!-- Start Large Image -->
                                    <div class="product-large-image modal-product-image-large swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="product-image-large-image swiper-slide img-responsive">
                                                <img src="assets/images/product/default/home-1/default-1.jpg" alt="">
                                            </div>
                                            <div class="product-image-large-image swiper-slide img-responsive">
                                                <img src="assets/images/product/default/home-1/default-2.jpg" alt="">
                                            </div>
                                            <div class="product-image-large-image swiper-slide img-responsive">
                                                <img src="assets/images/product/default/home-1/default-3.jpg" alt="">
                                            </div>
                                            <div class="product-image-large-image swiper-slide img-responsive">
                                                <img src="assets/images/product/default/home-1/default-4.jpg" alt="">
                                            </div>
                                            <div class="product-image-large-image swiper-slide img-responsive">
                                                <img src="assets/images/product/default/home-1/default-5.jpg" alt="">
                                            </div>
                                            <div class="product-image-large-image swiper-slide img-responsive">
                                                <img src="assets/images/product/default/home-1/default-6.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Large Image -->
                                    <!-- Start Thumbnail Image -->
                                    <div
                                        class="product-image-thumb modal-product-image-thumb swiper-container pos-relative mt-5">
                                        <div class="swiper-wrapper">
                                            <div class="product-image-thumb-single swiper-slide">
                                                <img class="img-fluid"
                                                    src="assets/images/product/default/home-1/default-1.jpg" alt="">
                                            </div>
                                            <div class="product-image-thumb-single swiper-slide">
                                                <img class="img-fluid"
                                                    src="assets/images/product/default/home-1/default-2.jpg" alt="">
                                            </div>
                                            <div class="product-image-thumb-single swiper-slide">
                                                <img class="img-fluid"
                                                    src="assets/images/product/default/home-1/default-3.jpg" alt="">
                                            </div>
                                            <div class="product-image-thumb-single swiper-slide">
                                                <img class="img-fluid"
                                                    src="assets/images/product/default/home-1/default-4.jpg" alt="">
                                            </div>
                                            <div class="product-image-thumb-single swiper-slide">
                                                <img class="img-fluid"
                                                    src="assets/images/product/default/home-1/default-5.jpg" alt="">
                                            </div>
                                            <div class="product-image-thumb-single swiper-slide">
                                                <img class="img-fluid"
                                                    src="assets/images/product/default/home-1/default-6.jpg" alt="">
                                            </div>
                                        </div>
                                        <!-- Add Arrows -->
                                        <div class="gallery-thumb-arrow swiper-button-next"></div>
                                        <div class="gallery-thumb-arrow swiper-button-prev"></div>
                                    </div>
                                    <!-- End Thumbnail Image -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="modal-product-details-content-area">
                                    <!-- Start  Product Details Text Area-->
                                    <div class="product-details-text">
                                        <h4 class="title">Nonstick Dishwasher PFOA</h4>
                                        <div class="price"><del>$70.00</del>$80.00</div>
                                    </div> <!-- End  Product Details Text Area-->
                                    <!-- Start Product Variable Area -->
                                    <div class="product-details-variable">
                                        <!-- Product Variable Single Item -->
                                        <div class="variable-single-item">
                                            <span>Color</span>
                                            <div class="product-variable-color">
                                                <label for="modal-product-color-red">
                                                    <input name="modal-product-color" id="modal-product-color-red"
                                                        class="color-select" type="radio" checked>
                                                    <span class="product-color-red"></span>
                                                </label>
                                                <label for="modal-product-color-tomato">
                                                    <input name="modal-product-color" id="modal-product-color-tomato"
                                                        class="color-select" type="radio">
                                                    <span class="product-color-tomato"></span>
                                                </label>
                                                <label for="modal-product-color-green">
                                                    <input name="modal-product-color" id="modal-product-color-green"
                                                        class="color-select" type="radio">
                                                    <span class="product-color-green"></span>
                                                </label>
                                                <label for="modal-product-color-light-green">
                                                    <input name="modal-product-color"
                                                        id="modal-product-color-light-green" class="color-select"
                                                        type="radio">
                                                    <span class="product-color-light-green"></span>
                                                </label>
                                                <label for="modal-product-color-blue">
                                                    <input name="modal-product-color" id="modal-product-color-blue"
                                                        class="color-select" type="radio">
                                                    <span class="product-color-blue"></span>
                                                </label>
                                                <label for="modal-product-color-light-blue">
                                                    <input name="modal-product-color"
                                                        id="modal-product-color-light-blue" class="color-select"
                                                        type="radio">
                                                    <span class="product-color-light-blue"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <!-- Product Variable Single Item -->
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="variable-single-item ">
                                                <span>Quantity</span>
                                                <div class="product-variable-quantity">
                                                    <input min="1" max="100" value="1" type="number">
                                                </div>
                                            </div>

                                            <div class="product-add-to-cart-btn">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modalAddcart">Add To
                                                    Cart</a>
                                            </div>
                                        </div>
                                    </div> <!-- End Product Variable Area -->
                                    <div class="modal-product-about-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste
                                            laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam
                                            in quos qui nemo ipsum numquam, reiciendis maiores quidem aperiam, rerum vel
                                            recusandae</p>
                                    </div>
                                    <!-- Start  Product Details Social Area-->
                                    <div class="modal-product-details-social">
                                        <span class="title">SHARE THIS PRODUCT</span>
                                        <ul>
                                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                            <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                            </li>
                                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        </ul>

                                    </div> <!-- End  Product Details Social Area-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End Modal Quickview cart -->

    <!-- ::::::::::::::All JS Files here :::::::::::::: -->
    <!-- Global Vendor, plugins JS -->
    <!-- <script src="assets/js/vendor/modernizr-3.11.2.min.js"></script>
    <script src="assets/js/vendor/jquery-3.5.1.min.js"></script>
    <script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
    <script src="assets/js/vendor/popper.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/jquery-ui.min.js"></script>  -->

    <!--Plugins JS-->
    <!-- <script src="assets/js/plugins/swiper-bundle.min.js"></script>
    <script src="assets/js/plugins/material-scrolltop.js"></script>
    <script src="assets/js/plugins/jquery.nice-select.min.js"></script>
    <script src="assets/js/plugins/jquery.zoom.min.js"></script>
    <script src="assets/js/plugins/venobox.min.js"></script>
    <script src="assets/js/plugins/jquery.waypoints.js"></script>
    <script src="assets/js/plugins/jquery.lineProgressbar.js"></script>
    <script src="assets/js/plugins/aos.min.js"></script>
    <script src="assets/js/plugins/jquery.instagramFeed.js"></script>
    <script src="assets/js/plugins/ajax-mail.js"></script> -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <script src="assets/js/vendor/vendor.min.js"></script>
    <script src="assets/js/plugins/plugins.min.js"></script>

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>
    <script>
        function editaddress(id) {
            $.ajax({
                url: `/editaddress?id=${id}`,
                type: 'GET',
                success: function(data) {
                    // Upon success of the GET request to editaddress,
                    // Navigate to updateaddress and display result in the same page
                    $.ajax({
                        url: '/updateaddress',
                        type: 'POST',
                        data: data, // Assuming data from editaddress is sent as POST data to updateaddress
                        success: function(result) {
                            // Display result on the same page
                           // Assuming you have a container with id 'result-container'
                        },
                        error: function(xhr, status, error) {
                            console.error('There was a problem updating the address:', error);
                            // Handle error appropriately, e.g., display an error message to the user
                        }
                    });
                },
                error: function(xhr, status, error) {
                    console.error('There was a problem fetching the address for editing:', error);
                    // Handle error appropriately, e.g., display an error message to the user
                }
            });
        }
    </script>
    
     <script>
        function removeaddress(id) {
            $.ajax({
                url: `/removeaddress?id=${id}`,
                type: 'GET',
                success: function(data) {
                  
                },
                error: function(xhr, status, error) {
                    console.error('There was a problem removing the address:', error);
                    // Handle error appropriately, e.g., display an error message to the user
                }
            });
        }
        
        
            </script>
            <!-- <script>
              
function proceedToPayment() {
    // Check which payment method is selected
    var paymentMethod = $('input[name="paymentMethod"]:checked').val();

    // If Online payment is selected, make AJAX call to backend to create order with Razorpay
    if (paymentMethod === 'online') {
        $.ajax({
            url: '/order',
            type: 'POST',
            data: { paymentMethod: 'online' }, // Send selected payment method
            success: function(response) {
                if (response.success) {
                    // Extract order details from response and handle as needed
                    const orderId = response.order.id;
                    // Proceed with Razorpay payment flow using orderId
                } else {
                    console.error('Failed to create order:', response.message);
                }
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
            }
        });
    } else {
        // Proceed with Cash on Delivery payment
        // Your existing logic here...
    }
}
</script> -->
          

<button id="rzp-button1">Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>

function proceedToPayment() {
    
    var selectedAddress = document.querySelector('input[name="deliveryAddress"]:checked').value;
    var paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;
    if(paymentMethod=== "COD"){
        fetch("/order", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ paymentMethod: 'COD' ,deliveryAddress: selectedAddress }),
        })
        .then(response => response.json())
        .then(data => {
       
           if (data.status==="COD") {
             window.location.href= `/ordersuccess?oId=${data.oId}`;
               
            }else{
                alert("data Not Added")
            }
        });
         }
         
          else if (paymentMethod === 'online') {
    
        fetch("/order", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ paymentMethod: 'online' }),
        })
        .then(response => response.json())
        .then(data => {
          
           if (data.status==="online") {
         
            console.log(data.order)
                const orderId = data.order.id;

               
                var options = {
                    key: 'rzp_test_S0n0KoYcfH03Z8', 
                    amount: 3000, 
                    currency: 'INR',
                    name: 'Acme Corp', 
                    description: 'Test Transaction',
                    order_id: orderId,
                    handler: function (response) {
                     
                        console.log('Payment successful:', response);
                        successPayment(response,selectedAddress)                        
                    },
                    prefill: {
                        name: 'Gaurav Kumar', 
                        email: 'gaurav.kumar@example.com',
                        contact: '9000090000', 
                    },
                    theme: {
                        color: '#3399cc', 
                    },
                };

              
                var rzp1 = new Razorpay(options);
                rzp1.open();
                rzp1.on('payment.failed', function (response) {
                    // console.error('Payment failed:', response.error);
                    // window.location.href= '/paymentfailed'; 
                    paymentfailed(response,selectedAddress) ;
                });
            } else {
              window.location.href= '/paymentfailed';
                console.error('Failed to create order:', data.message);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    } else {
        // Proceed with other payment methods (e.g., Cash on Delivery)
        // Implement your logic here
    }
}
    

function successPayment(response,selectedAddress){
  console.log(response);
  console.log(selectedAddress);
  
  const paymentData = {
            razorpay_payment_id: response.razorpay_payment_id,
            razorpay_order_id: response.razorpay_order_id,
            razorpay_signature: response.razorpay_signature,
            selectedAddress: selectedAddress,
           
          };


          fetch('/orderonlineload', {
            method: 'POST',
            body: JSON.stringify({ paymentData: paymentData }),
            headers: {
              'Content-Type': 'application/json',
            },
          })
            .then((response) => response.json())
            .then((data) => {
            
              if(data.success){
              console.log(data);
             
              location.href = `/ordersuccess?oId=${data.oId}`;

              }else{
                alert('Payment failed');
              
              }
            })
            .catch((error) => {
             
              console.error(error);
            });

}

function paymentfailed(response,selectedAddress){
    
  const paymentData = {
         
            selectedAddress: selectedAddress,
           
          };


          fetch('/orderfailed', {
            method: 'POST',
            body: JSON.stringify({ paymentData: paymentData }),
            headers: {
              'Content-Type': 'application/json',
            },
          })
            .then((response) => response.json())
            .then((data) => {
            
              if(data.success){
              console.log(data);
             
              location.href = `/ordersuccess?oId=${data.oId}`;

              }else{
                alert('Payment failed');
              
              }
            })
            .catch((error) => {
             
              console.error(error);
            });

}



</script>



</body>


</html>